@let messagesLocal = messages();

<div class="chat-container">
  <div class="chat-messages">

    <div class="grid gap-y-2">

      <!-- Chat messages -->
      <app-chat-message [text]="'Escribe que quieres que revise.'" />

      @for (message of messagesLocal; track $index) {
      @if (message.isGpt) {
      <app-gpt-message-orthography
        [text]="message.text"
        [errors]="message.info!.errors"
        [user_Score]="message.info!.user_Score"
       />
      }@else {
      <app-my-message [text]="message.text" />
      }
      }

      @if (isLoading()) {
      <app-typing-loader />
      }

    </div>

  </div>

  <!-- MessageBox -->
  <app-text-message-box
    [placeholder]="'Escribe lo que quieras'"
    (onMessage)="handleMessage($event)"
    [disableCorrections]="true"
  />

</div>
